*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-grayish-blue: hsl(227, 12%, 61%);
    --very-dark-blue : hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --vary-light-gray: hsl(0, 0%, 98%);
    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);
}
body{
    font-size: 16px;
    background-color: #fff;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var(--dark-grayish-blue);
}

.container{
width: 1170px;
margin: 0 auto;

}
.d-flex{
    display: flex;
}
.items-center{
    align-items: center;
}

header{
    padding-top: 60px;
}
.header-wraper{
    
    justify-content: space-between;
  
}
a{
    text-decoration: none;
    color: var(--very-dark-blue);
    
}
a:hover{
    color: var(--dark-grayish-blue);
}
a, button{
    transition: all 0.3s ease-in-out;
}
 .btn{
    border: 0;
    background-color: var(--vary-light-gray);
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 30px;
    z-index: 2;
}
.btn-primary{
    background-color: var(--bright-red);
    color: white;
    box-shadow: 0 0 0 ;
  
}
.btn-primary:hover{
    opacity: 0.6;
}
.btn-secondary{
    background-color: var(--vary-light-gray);
    color: var(--bright-red);
  
}

ul, ol{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    color: var(--dark-blue);
}

.primary-menu li a {
    padding-right: 6px;
    padding-left: 6px;
}
/* herosection */
.hero {
    padding-top: 100px;
    padding-bottom: 100px;
}
.col-left p{
    width: 60%;

}
.col-right {
   z-index: 2;
   
}

.col-left, .col-right {
    width: 50%;
}
.bg-patern {
    position: absolute;
    top: -120px;
    right: -30px;
    z-index: 0;
}
.hero-heading{
font-size: 52px;
margin-bottom: 25px;
line-height: 1.2;
}
.hero-text {
margin-bottom: 30px;
}

.hero-img{
    margin-right: -20px;
    z-index: 2;
    position: relative;
    
    
}
.hero-img img{
    width: 100%;
}
/* abuth  */
.about h2{
    font-size: 40px;
    line-height: 1.2;
    margin-bottom:25px ;
}
.about-content {
    padding-right: 0px;
}
.about-card{
    margin-bottom: 40px;
}
.card-number{
    background-color: var(--bright-red);
    width: 52px;
    height: 30px;
    padding: 5px;
    border-radius: 30px;
    color: white;
    text-align: center;
    margin-right: 30px;
}
.card-content{
    flex: 0.7;
}
.card-content h3{
    margin-bottom: 20px;
}

